$font-size-header: 64px;
$font-size-sub-header: 32px;
$font-size-product: 24px;
$font-size-cart: 20px;
$font-size-tab: 18px;
$font-size-main: 16px;
$font-size-tip: 15px;

$font-family-main: 'Barlow Condensed', sans-serif;
$font-family-bold: 'Cabin Condensed', sans-serif;
$font-family-light: 'Abel', sans-serif;

$color-accent: #E4002B;
$color-main: #FFFFFF;
$color-secondary: #F7F6F5;
$color-tip: #000000;

$text-main: #9D9D9D;
$text-header: #000000;
$text-accent: #FFFFFF;

$border-radius-round: 50%;
$border-radius-button: 18px;
$border-radius-card: 8px;
$border-radius-main: 4px;