@import 'styles/variables.scss';

.Logo {
  border-radius: $border-radius-round;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 227px;
  height: 227px;
  overflow: hidden;

  &_image {
    width: 100%;
    height: 100%;
  }
}