@import 'styles/variables.scss';

.Product {
  padding: 40px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;

  border-radius: $border-radius-card;

  cursor: pointer;

  &:hover &_name {
    color: $text-header;
  }

  &_display {
    position: relative;
  }

  &_image {
    position: relative;
    width: 208px;
    height: 208px;

    display: flex;
    justify-content: center;
    align-items: center;

    &_src {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &_add {
    position: absolute;
    bottom: 20px;
    right: 20px;

    &_first {
      width: 40px;
      height: 40px;
    
      display: flex;
      justify-content: center;
      align-items: center;
    
      cursor: pointer;
      border-radius: $border-radius-round;
      background-color: $color-main;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
    }
  }

  &_sticker {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &_name {
    font-size: $font-size-product;
    color: $text-main;
  }

  &_price {
    color: $color-accent;
    font-size: $font-size-sub-header;
  }
}