@import 'styles/variables.scss';

.Footer {
  padding-bottom: 75px;

  &_info {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;

    @media (max-width: 800px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &_links {
    margin-top: 120px;
  }

  &_stripes {
    width: 100%;

    display: flex;
    justify-content: center;

    &_block {
      width: 32px;
      height: 71px;

      &:nth-child(odd) {
        background-color: $color-accent;
      }
    }
  }
}